<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>猫宁商城</title>
  <link rel="stylesheet" href="/os/css/list.css">
  <script src="/common/jquery/jquery-3.2.0.min.js"></script>
  <script src="/common/jquery/jquery.cookie.js"></script>
  <link rel="stylesheet" href="/common/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/os/css/base.css">
  <script src="/os/js/base.js"></script>
</head>
<body>
<div id="site-topBar"></div>
<div id="site-header"></div>


<!--     分类导航栏 begin       -->
<div class="breadcrumbs">
  <div class="container-fluid"><a href='${ctx}/index'>首页</a>
    <span class="sep">&gt;</span>
    <a th:href="'/product/list?categoryId='+${category.id}" th:text="${category.name}">手机</a>
  </div>
</div>

<!--     分类导航栏 end       -->

<!--     产品分类目录begin       -->
<div class="category">
  <div class="container-fluid">
    <div class="filter-box">
      <div class="filter-list-wrap">
        <dl class="filter-list clearfix">
          <dt>分类：</dt>
          <dd th:class="${category.id} eq 0 ? 'active':''"><a href="/product/list?categoryId=0">全部</a></dd>
          <dd  th:each="item:${categories}"   th:class="${item.id eq category.id}?'active':''"><a  th:href="'/product/list?categoryId='+${item.id}" th:text="${item.name}">手机</a></dd>
        </dl>
        <a class="more J_filterToggle" href="javascript:void(0);" onclick="showMornCategory(this);" >更多<i class="glyphicon glyphicon-chevron-down"></i></a> </div>
    </div>
  </div>
</div>
<!--     产品分类目录end       -->

<!--     产品分类内容begin       -->
<div class="content" th:if="${ #lists.size(pagination.data) gt 0}">
  <div class="container-fluid">
    <div class="order-list-box clearfix">
      <ul class="order-list">
        <li th:class="${sort} eq 1 ? 'active':''"><a th:href="'/product/list?categoryId='+${category.id}+'&sort=1'" rel="nofollow">新品</a></li>
        <li th:class="${sort} eq 2 ? 'active':''"><a th:href="'/product/list?categoryId='+${category.id}+'&sort=2'" rel="nofollow">销量</a></li>
        <li th:class="${sort} eq 3 ? 'active':''"><a th:href="'/product/list?categoryId='+${category.id}+'&sort=3'" rel="nofollow">价格 <i class="glyphicon glyphicon-arrow-up"></i></a></li>
        <li th:class="${sort} eq 4 ? 'active':''"><a th:href="'/product/list?categoryId='+${category.id}+'&sort=4'" rel="nofollow">价格 <i class="glyphicon glyphicon-arrow-down"></i></a></li>
        <!--<li class="${sort eq 3 ? 'active':''}"><a href="${ctx}/list?categoryId=${category.categoryId}&sort=3"  rel="nofollow">评论最多</a></li>-->
      </ul>
    </div>
    <div class="goods-list-box">
      <div class="goods-list clearfix">
          <div class="goods-item" th:each="product:${pagination.data}">
            <div class="figure figure-img"><a th:title="${product.name}"  th:href="|/product/detail-${product.id}|"><img th:src="${product.thumb?.url}" th:title="${product.name}" width="200" height="200" th:alt="${product.name}" /></a></div>
            <p class="desc"></p>
            <h2 class="title"><a th:title="${product.title}"  th:href="|/product/detail-${product.id}|" th:text="${product.name}">小米拍照手机1300W柔光手机</a></h2>
            <p class="price" th:text="|${product.showPrice}元|"></p>
            <p class="desc" th:text=" ${product.title}"> </p>
            <div class="actions clearfix"> <a class="btn-like J_likeGoods" th:attr="data-pid=${product.id}"  onclick="add_favorite(this);" href="javascript: void(0);"><i class="glyphicon glyphicon-heart-empty"></i> <span>喜欢</span></a> <a class="btn-buy J_buyGoods" th:attr="data-gid=${product.id}"  th:href="|/product/detail-${product.id}|"><span>加入购物车</span> <i class="glyphicon glyphicon-shopping-cart"></i></a> </div>
            <div class="flags">
                <div class="flag">拍照</div>
            </div>
            <div class="notice"></div>
          </div>
        </c:forEach>
      </div>
      <!--分页 -->
      <div class="xm-pagenavi">
          <div id="pager"   th:attr="data-pager-totalPage=${pagination.pageQuantity}, data-pager-current=${pagination.pageNo},data-pager-href=${url}" ></div>
      </div>
    </div>
  </div>
  <div id="J_newPrudoct" class="xm-recommend-container container-fluid xm-carousel-container">
    <!-- <h2 class="title">带上亲爱的朋友 把滑雪歌儿唱  (♥◠‿◠)ﾉ  ʅ(‾◡◝)</h2> -->
  </div>
</div>
<!--     产品分类内容begin       -->


  <div class="container-fluid" th:if="${ #lists.isEmpty(pagination.data)}">
    <div class="xm-box ">
      <div class="bd">
        <div class="shop-global-error">
          <h2>此分类还没有任何商品哦</h2>
          <p class="shop-global-error-tips"></p>
          <p class="shop-global-error-btn"> <a href="/index" class="btn btn-primary">去首页</a> <a href="javascript:;" onclick="history.go(-1);" class="btn btn-line-gray">返回上一页</a> </p>
        </div>
      </div>
    </div>
  </div>

<div id="site-footer"></div>

<!-- layer javascript -->
<script src="/common/layer/layer.js"></script>
<!-- 分页 javascript -->
<script src="/common/pager/jquery.pager.js"></script>
<script src="/os/js/list.js"></script>
<script type="text/javascript">

    // 收藏商品
    function add_favorite(obj) {
        var productNumber = $(obj).attr("data-pid");
        var result = $(obj).hasClass("btn-liked");
        console.info(productNumber);
        if (result) {
            $.ajax({
                type : 'delete',
                dataType : 'json',
                url : baselocation + '/favorite/' + productNumber,
                success : function(result) {
                    if (result.success === true) {
                        $(obj).toggleClass("btn-liked");
                    } else {
                        layer.alert(result.msgType, {
                            icon : 2
                        });
                    }
                }
            })
        }else {
            $.ajax({
                type : 'post',
                dataType : 'json',
                url : baselocation + '/favorite/' + productNumber,
                success : function(result) {
                    if (result.success == true) {
                        $(obj).toggleClass("btn-liked");
                    } else {
                        layer.alert(result.msgType, {
                            icon : 2
                        });
                    }
                }
            })
        }
    }

</script>
<script src="/common/bootstrap/js/bootstrap.min.js"></script>
<!-- 自定义js -->
<script src="/os/js/zySearch.js"></script>
<script src="/os/js/jump.js"></script>
</body>
</html>