<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.play001.cloud.cms.mapper.MenuMapper">
    <resultMap id="adminMenuResult" type="com.play001.cloud.support.entity.Menu">
        <id property="id" column="id"/>
        <result property="name" column="menu_name" />
        <!-- 子菜单 -->
        <collection property="childMenus" column="{adminId=adminId, parentId = id}" select="getAdminMenus"/>
    </resultMap>
    <resultMap id="allMenuResult" type="com.play001.cloud.support.entity.Menu">
        <id property="id" column="id"/>
        <result property="name" column="menu_name" />
        <!-- 子菜单 -->
        <collection property="childMenus" column="id" select="getAllMenus"/>
    </resultMap>
</mapper>