<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.play001.cloud.cms.mapper.ProductMapper">
    <resultMap id="productResult" type="com.play001.cloud.common.entity.Product">
        <id property="id" column="id"/>
        <result property="showPrice" column="show_price"/>
        <result property="soldNumber" column="sold_number"/>
        <result property="createTime" column="create_time"/>
        <!-- 封面 -->
        <association property="thumb"  column="thumb_id" select="com.play001.cloud.cms.mapper.ImageMapper.findById"/>
        <!-- 目录 -->
        <association property="category"  column="category_id"  select="com.play001.cloud.cms.mapper.CategoryMapper.findById"/>
        <!-- 介绍 -->
        <association property="introduction" column="id" select="findIntroduction" />
        <!-- 相册 -->
        <collection property="pics" column = "id" select="findPicsByProductId" />
        <!-- 参数 -->
        <collection property="parameters" column = "id" select="findParasByProductId" />
        <!-- 规格 -->
        <collection property="specs" column = "id" select="findSpecsByProductId" />
        <!-- 标签 -->
        <collection property="labels" column = "id" select="findLabelsByProductId" />

    </resultMap>


    <select id="count" resultType="Long">
        SELECT
            count(id)
        FROM os_product
        <if test="categoryId != 0">
            where category_id = #{categoryId}
        </if>
    </select>

    <select id="getList" resultMap="productResult" >
        SELECT
            id, name, show_price, status, sold_number, create_time, category_id
        FROM os_product
        <if test="categoryId != 0">
            where category_id = #{categoryId}
        </if>
        <include refid="common_order_if"/>
        LIMIT #{offset}, #{limit}
    </select>





    <sql id="common_order_if">

        <if test="sort == null">
            order by id
        </if>
        <if test="sort == 'status'">
            order by status
        </if>
       <if test="sort == 'id'">
           order by id
       </if>
        <if test="sort == 'price'">
            order by price
        </if>
        <if test="sort == 'soldNumber'">
            order by sold_number
        </if>
        <if test="sort == 'createTime'">
            order by create_time
        </if>
        <if test="sort == 'category.id'">
            order by category_id
        </if>
        <if test="order == 'desc'">
            desc
        </if>

    </sql>
</mapper>