<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.play001.cloud.productapi.mapper.ProductMapper">
    <resultMap id="productResult" type="com.play001.cloud.productapi.entity.Product">
        <result property="showPrice" column="show_price"/>
        <result property="showPic" column="show_pic"/>
        <result property="pageTitle" column="page_title"/>
        <result property="pageIntroduction" column="page_introduction"/>
        <result property="isShow" column="is_show"/>
        <result property="createdTime" column="created_time"/>
        <collection property="parameters" select="findParameters" column="id" ofType="com.play001.cloud.productapi.entity.Parameter"/>
        <collection property="labels" select="findLabels" column="id" ofType="String" />
    </resultMap>
    <select id="findById" resultMap="productResult">
        SELECT
            p.id, p.name, p.show_price, p.introduction, p.show_pic, p.page_title, pd.introduction, p.is_show, p.created_time, p.remarks
        FROM os_product p, os_product_detail pd
        WHERE p.id = #{id} AND pd.product_id = #{id}
        LIMIT  1
    </select>
    <select id="findParameters" resultType="com.play001.cloud.productapi.entity.Parameter">
        SELECT
            id, product_id as productId, name, value, sort
        FROM os_product_parameter
        WHERE product_id = #{productId}
    </select>
    <select id="findLabels" resultType="String">
        SELECT
            name
        FROM os_product_label
        WHERE product_id = #{productId}
    </select>
</mapper>