<!DOCTYPE html>
<html lang="en">
<body>
<div class="span4">
    <div class="uc-box uc-sub-box">
        <div class="uc-nav-box">
            <div class="box-hd">
                <h3 class="title">订单中心</h3>
            </div>
            <div class="box-bd">
                <ul class="uc-nav-list">
                    <li><a href="">我的订单</a></li>
                    <li><a href="">待支付订单</a></li>
                    <li><a href="">待收货订单</a></li>
                    <li><a href="">待评价订单</a></li>
                </ul>
            </div>
        </div>
        <div class="uc-nav-box">
            <div class="box-hd">
                <h3 class="title">个人中心</h3>
            </div>
            <div class="box-bd">
                <ul class="uc-nav-list">
                    <li class="active"><a href="">我的个人中心</a></li>
                    <li><a href="">消息通知<i class="J_miMessageTotal"></i></a></li>
                    <li><a href="">我的收藏</a></li>
                    <li><a href="">购物车<i class="J_miInviteTotal"></i></a></li>
                    <li><a href="">优惠券</a></li>
                    <li><a href="">收货地址</a></li>
                </ul>
            </div>
        </div>
        <div class="uc-nav-box">
            <div class="box-hd">
                <h3 class="title">售后服务</h3>
            </div>
            <div class="box-bd">
                <ul class="uc-nav-list">
                    <li><a href="">服务记录</a></li>
                    <li><a href="">申请服务</a></li>
                </ul>
            </div>
        </div>
        <div class="uc-nav-box">
            <div class="box-hd">
                <h3 class="title">账户管理</h3>
            </div>
            <div class="box-bd">
                <ul class="uc-nav-list">
                    <li><a href="" target="_blank">个人信息</a></li>
                    <li><a href="https://account.xiaomi.com/pass/auth/security/home#service=setPassword" target="_blank" >修改密码</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>