<!DOCTYPE html>
<html lang="zh-CN" xml:lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<title>订单详情 - 猫宁商城</title>
  <link rel="stylesheet" href="../os/css/address.css">
  <link rel="stylesheet" href="../common/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../os/css/base.min.css">
  <link rel="stylesheet" href="../os/css/base.css">
</head>
<body>x`
<div class="span16" style="width: 500px;">
  <div class="uc-box uc-main-box">
    <div class="uc-content-box order-view-box">
      <div class="box-hd">
        <h1 class="title"><span class="text">订单详情</span><small>&nbsp;&nbsp;&nbsp;&nbsp;请谨防钓鱼链接或诈骗电话</small></h1>
        <div class="more clearfix">
          <h2 class="subtitle" th:text="|订单号：${order.id}|"><span class="tag tag-subsidy"></span> </h2>
<!--          <div class="actions">
            <a id="J_cancelOrder" th:if="${order.status == 1}" class="btn btn-small btn-line-gray" title="取消订单" th:attr="data-order-id=${order.id}" href="javascript:;" data-confirm="你真的要取消此订单吗?">取消订单</a>
            <a id="J_payOrder" th:if="${order.status == 1}"  class="btn btn-small btn-primary" title="立即支付" th:href="|../order/orderSuccess?id=${order.id}|" target="_blank" >立即支付</a>
            &lt;!&ndash;<a title="申请售后" href="" class="btn btn-small btn-line-gray" >申请售后</a>&ndash;&gt;
          </div>-->
        </div>
      </div>
      <div class="box-bd">
        <div class="uc-order-item uc-order-item-finish">
          <div class="order-detail">
            <div class="order-summary">
              <div class="order-status">
                  <span th:if="${order.status == 1}">待付款</span>
                  <span th:if="${order.status == 2}">代发货</span>
                  <span th:if="${order.status == 3}">已失效</span>
                  <span th:if="${order.status == 4}">待收货</span>
                  <span th:if="${order.status == 5}">待评价</span>
                  <span th:if="${order.status == 6}">已完成</span>
              </div>
              <div class="order-progress">
                <ol class="progress-list clearfix">
                  <li class="step">
                    <div><span class="text">创建时间</span></div>
                    <div class="info" th:text="${order.createTime}">
                    </div>
                  </li>
                </ol>
              </div>
            </div>
            <table class="table" >
              <tbody>
                  <tr th:each="orderProduct:${order.orderProducts}">
                    <td class="col col-thumb">
                      <div class="figure figure-thumb">
                        <a target="_blank" th:href="|../product/detail-${orderProduct.id}|">
                          <img th:src="${orderProduct.productThumb.url}" width="80" height="80" th:alt="${orderProduct.productName}">
                        </a>
                      </div>
                    </td>
                    <td class="col col-name">
                      <p class="name">
                        <a target="_blank" th:href="|../product/detail-${orderProduct.id}|"  th:text="${orderProduct.productName} + '  '+${orderProduct.productSpecName}"></a>
                      </p>
                    </td>
                    <td class="col col-price"><p class="price" th:text="|数量${orderProduct.productNumber}, 总计${orderProduct.productAmount}元|"></p></td>
                    <td class="col col-actions"></td>
                  </tr>
              </tbody>
            </table>
          </div>
          <div id="editAddr" class="order-detail-info">
            <h3>收货信息</h3>
            <table class="info-table">
              <tbody>
                <tr>
                  <th>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</th>
                  <td th:text="${order.orderAddress.username}"></td>
                </tr>
                <tr>
                  <th>联系电话：</th>
                  <td th:text="${order.orderAddress.userPhone}"></td>
                </tr>
                <tr>
                  <th>收货地址：</th>
                  <td th:text="${order.orderAddress.userAddr}"></td>
                </tr>
              </tbody>
            </table>
<!--            <div class="actions">
              <a class="btn btn-small btn-line-gray J_editAddr" data-shipment-id="${orderVO.orderShipment.orderShipmentId}" data-order-id="${orderVO.orderId}"> 修改 </a>
            </div>-->
          </div>
          <div id="editTime" class="order-detail-info">
            <h3>支付方式及送货时间</h3>
            <table class="info-table">
              <tbody>
                <tr>
                  <th>支付方式：</th>
                  <td>在线支付</td>
                </tr>
                <tr>
                  <th>送货时间：</th>
                  <td>不限送货时间</td>
                </tr>
              </tbody>
            </table>
<!--            <div class="actions">
              <a class="btn btn-small btn-line-gray J_editTime" data-shipment-time="${orderVO.shipmentTime}" data-order-id="${orderVO.orderNumber}"> 修改 </a>
            </div>-->
          </div>
          <div class="order-detail-info">
            <h3>发票信息</h3>
            <table class="info-table">
              <tbody>
                <tr>
                  <th>发票类型：</th>
                  <td>
                     不开发票
                  </td>
                </tr>
<!--                <tr>
                  <th>发票内容：</th>
                  <td>购买商品明细</td>
                </tr>
                  <tr>
                    <th>发票抬头：</th>
                    <td>${orderVO.invoiceTitle}</td>
                  </tr>-->
              </tbody>
            </table>
            <div class="actions"> </div>
          </div>
          <div class="order-detail-total">
            <table class="total-table">
              <tbody>
                <tr>
                  <th>商品总价：</th>
                  <td><span class="num" th:text="${order.amount}"></span>元</td>
                </tr>
                <tr>
                  <th>运&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;费：</th>
                  <td><span class="num">0</span>元</td>
                </tr>
                <tr>
                  <th>订单金额：</th>
                  <td><span class="num"  th:text="${order.amount}">0</span>元</td>
                </tr>
                <tr>
                  <th class="total">实付金额：</th>
                  <td class="total"><span class="num"  th:text="${order.amount}">0</span>元</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop in" style="display: none; width: 100%; height: 1854px;"></div>
</body>
</html>