<!DOCTYPE html>
<html lang="zh-CN" xml:lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>个人中心</title>
    <meta name="viewport" content="width=1226">
    <meta name="description" content="">
    <meta name="keywords" content="小米商城">
    <link rel="stylesheet" href="../os/css/base.css">
    <link rel="stylesheet" href="../os/css/base.min.css">
    <link rel="stylesheet" type="text/css" href="../os/user/css/main.min.css">
    <script src="../common/jquery/jquery-3.2.0.min.js"></script>
    <script src="../os/js/base.js"></script>
    <script src="../common/jquery/jquery.cookie.js"></script>
    <script src="../os/js/userPortal.js"></script>

</head>
<body>

<div id="site-topBar"></div>
<div id="site-header"></div>

<div class="breadcrumbs">
  <div class="container">
    <a href="">首页</a><span class="sep">&gt;
		</span><span>个人中心</span>
  </div>
</div>

<div class="page-main user-main">
  <div class="container">
    <div class="row">
      <!-- 左边菜单栏 -->
      <div th:replace="usercenter/left :: div"></div>

      <div class="span16">
        <div class="uc-box uc-main-box">
          <div class="uc-content-box order-list-box">
            <div class="box-hd">
              <h1 class="title">我的订单<small>请谨防钓鱼链接或诈骗电话，<a href="" target="_blank">了解更多&gt;</a></small></h1>
              <div class="more clearfix">
                <ul class="filter-list J_orderType">
                    <li th:class="${type eq 0 ? 'first active':'first'}"><a href="../order/list?type=0" >全部订单</a></li>
                    <li th:class="${type eq 1 ? 'active':''}"><a  href="../order/list?type=1" >待支付</a></li>
                    <li th:class="${type eq 4 ? 'active':''}"><a  href="../order/list?type=4" >待收货</a></li>
                    <li th:class="${type eq 5 ? 'active':''}"><a  href="../order/list?type=5" >待评价</a></li>
                    <li th:class="${type eq 2 ? 'active':''}"><a href="../order/list?type=3">已关闭</a></li>
                </ul>
              </div>
            </div>
            <div class="box-bd">
              <div id="J_orderList" >
                <div class="loading hide">
                  <div class="loader"></div>
                </div>
              </div>
              <div id="J_orderList">
                <ul class="order-list">
                  <li class="uc-order-item uc-order-item-pay" th:each="order,orderState:${orders}">
                    <div class="order-detail">
                      <div class="order-summary">
                           <div class="order-status" th:if="${order.status == 1}">未付款</div>
                           <div class="order-status" th:if="${order.status == 2}">待发货</div>
                           <div class="order-status" th:if="${order.status == 3}">已关闭</div>
                           <div class="order-status" th:if="${order.status == 4}">待收货</div>
                           <div class="order-status" th:if="${order.status == 5}">待评价</div>
                           <div class="order-status" th:if="${order.status == 6}">已完成</div>
                            <p class="order-desc J_deliverDesc" th:if="${order.status == 2}"> 我们将尽快为您发货 </p>
                      </div>
                      <table class="order-detail-table">
                        <thead>
                        <tr>
                          <th class="col-main"> <p class="caption-info">
                            <span th:text="${order.createTime}"></span>
                            <span class="sep">|</span >张三<span class="sep">|</span>订单号： <a th:href="'../order/detail?id='+${order.id}" th:text="${order.id}">1234556789</a><span class="sep">|</span>在线支付</p>
                          </th>
                          <th class="col-sub"> <p class="caption-price">订单金额：<span class="num" th:text="${order.amount}">1999</span>元</p>
                          </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td class="order-items"><ul class="goods-list">
                              <li th:each="orderProduct:${order.orderProducts}">
                                <div class="figure figure-thumb">
                                    <a th:href="|../product/detail-${orderProduct.id}|" target="_blank">
                                        <img th:src="${orderProduct.productThumb.url}" width="80" height="80" th:alt="${orderProduct.productName}+'  '+${orderProduct.productSpecName}" th:title="${orderProduct.productName}+'  '+${orderProduct.productSpecName}">
                                    </a>
                                </div>
                                <p class="name">
                                    <a target="_blank" th:href="|../product/detail-${orderProduct.id}|" th:text="${orderProduct.productName}+'  '+${orderProduct.productSpecName}"></a>
                                </p>
                                <p class="price" th:text="${orderProduct.productAmount}"></p>
                              </li>
                          </ul></td>
                          <td class="order-actions">
                              <a class="btn btn-small btn-primary" th:if="${order.status == 1}" th:href="'../order/orderSuccess?id='+${order.id}" target="_blank">立即支付</a>
                              <a class="btn btn-small btn-line-gray" th:href="'../order/detail?id='+${order.id}" >订单详情</a></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </li>
                </ul>
              </div>
              <div id="J_orderListPages">
                  <div id="pager" th:attr="data-pager-href=${url},data-pager-totalPage=${pagination.pageQuantity},data-pager-nowpage=${pagination.pageNo}, data-pager-total=${pagination.dataQuantity}"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
<div id="site-footer"></div>
</body>


<script src="../common/bootstrap/js/bootstrap.min.js"></script>
<script src="../os/js/zySearch.js"></script>
<script src="../os/js/jump.js"></script>
</html>