<html  xmlns:th="http://www.thymeleaf.org">
<!--     主产品区热门分类 begin       -->



    <div class="row J_recommend_hot" th:each="section,state:${sections}">
      <div class="col-md-12 col-sm-12">
        <div class="home-brick-box home-brick-row-2-box xm-plain-box" th:id="|category-${state.index}|">
          <div class="box-hd">
            <h2 class="title" th:text="${section.name}">智能</h2>
            <div class="more J_brickNav">
              <ul class="tab-list J_brickTabSwitch">
                <li th:each="category:${section.categories}" th:text="${category.name}">出行</li>
             </ul>
           </div>
         </div>
         <div class="box-bd J_brickBd">
           <div class="row">
             <div class="span4 span-first">
               <ul class="brick-promo-list clearfix">
                 <li class="brick-item2 brick-item-m" data-gid="1" th:each="advert:${section.advert}">
                   <a th:title="${advert.title}" th:href="${advert.href}" target="_blank">
                     <img th:src="${advert.showPic}" th:alt="${advert.title}">
                   </a>
                 </li>
               </ul>
             </div>
             <div class="span16">
               <div class="tab-container" th:id="|category-${state.index}-content|">

                 <ul class="brick-list" th:each="category:${section.categories}">
                     <li class="brick-item brick-item-m" th:each="product:${category.products}">
                       <div class="figure figure-img">
                         <a target="_blank" th:title="${product.name}" th:href="|/product/detail-${product.id}|">
                           <img th:src="${product.thumb?.url}" width="160" height="160" th:alt="${product.name}">
                         </a>
                       </div>
                       <h3 class="title">
                         <a target="_blank" th:title="${product.name}" th:href="|/product/detail-${product.id}|" th:text="${product.name}">小米1</a>
                       </h3>
                       <p class="price"> <span class="num" th:text="${product.showPrice}">1999</span>元 </p>
                       <p class="rank" th:text="|已售${product.soldNumber}|"> 已售1232 </p>
                         <div class="review-wrapper">
                           <a th:title="${product.name}" th:href="|/product/detail-${product.id}|">
                             <span class="review" th:text="${product.title}">商品title</span>
                             <span class="author">  <span class="date"></span></span>
                           </a>
                         </div>
                        <div class="flag" th:if="${product.remarks != '' && product.remarks != null}" th:text="${product.remarks}"> 标签名字 </div>
                     </li>
                 </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--     主产品区热门分类 end         -->
<script type="text/javascript">
	/**
	 * 随机分配产品标签颜色
	 */
	$(function() {
		var $elements = $('#J_hotCategory .flag');
		$elements.each(function() {
			var $this = $(this);
			var num = (Math.floor(Math.random() * 4) + 1); //输出1-4的随机数搜索
			switch (num) { //然后判断
			case 1:
				$this.addClass("flag-new");
				break;
			case 2:
				$this.addClass("flag-saleoff");
				break;
			case 3:
				$this.addClass("flag-postfree");
				break;
			default:
				$this.addClass("flag-gift");
				break;
			}
		});
	})

	/**
 	 * TAB-list
 	 */
	$(function() {
		var $elements = $('#J_hotCategory .J_recommend_hot');
		var len = $elements.length;
		for (var i = 0; i < len; i++) {
			$('#category-' + i + '-content .brick-list').eq(0).show().siblings().hide();
			$('#category-' + i + ' .tab-list li').eq(0).show();
			$('#category-' + i + ' .tab-list li').eq(0).addClass('tab-active');

			$('#category-' + i + ' .tab-list li').mouseover(function(e) {
			    console.log("i="+i)
				var that = $(this).parents('.home-brick-box').attr('id');
				$(this).addClass('tab-active').siblings().removeClass('tab-active');
				var index = $(this).index();
				$('#' + that + ' .brick-list').eq(index).show().siblings().hide();
			})
		}
	})
</script>